*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    margin: 0 auto;
    background-color: #f3f9f3;
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
}

.heading{
    background-image: url(images/ocelot-header.png);
    height: 700px;
    position: relative;
    align-items: left;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px grey;
}

header{
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: transparent;
}

nav{
    list-style: none;
    display: flex;
    width: 25vw;
    min-width: 400px;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
}

nav li{
    display: inline-block;
    padding: 0 2rem;
    transition: all .3s ease;
}

nav a{
    text-decoration: none;
    font-family: mreaves;
    font-size: 19px;
    letter-spacing: 2px;
    overflow: hidden;
    color: #fff;
    transition: all .3s ease;
    padding: 0px 15px;
}

nav a:hover{
    color: #d1e0d1;
    transition: all .3s ease;
    text-shadow: 0px 0px 5px #d1e0d1;
}

.logo{
    cursor: pointer;
    background-color: transparent;
}

.title{
    margin-top: 100px;
    line-height: 1.4;
    color: #fff;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 9em;
    line-height: 1;
    margin: 70px 850px 50px 250px;
    color: #fff;
}

.title a.btn{
    padding: 13px 30px;
    border-radius: 9px;
    text-decoration: none;
    font-size: 15pt;
    font-family: mreaves;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-width: thin;
    color: #f3f9f3;
    transition: all .2s ease;
    margin-left: 255px;
}

.title a.btn:hover {
    background-color: #d1e0d1;
    color: #283f28;
    border-style: solid; 
    border-color: #d1e0d1;
}

h3{
    font-family: mreavesbold;
    font-size: 28pt;
    place-content: center;
    text-align: center;
    margin: 20px 160px 20px 160px;
    color: #d1e0d1;
}

.description1{
    text-align: center;
    color: #283f28;
    height: 300px;
    margin: 120px 0px;
}

.description1 p{
    text-align: center;
    float: center;
    font-family: mreaves;
    font-size: 18pt;
    line-height: 1.5;
    margin: 0px 300px 0px 300px;
    padding-bottom: 50px;
}

.container{
    height: 900px;
    background-color: #283f28;
}

.row{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

col-1{
    margin-top: -200px;
}

col-2{
    margin-top: -200px;
}

col-3{
    margin-top: -200px;
}

col-1 .btn{
    justify-content: center;
    border-radius: 9px;
    text-decoration: none;
    font-size: 32pt;
    background-color: #d1e0d1;
    color: #283f28;
    font-family: mreavesbold;
    transition: all .3s ease;
    position: absolute;
    margin-top: -240px;
    margin-left: 188px;
    padding: 13px 50px;
}

col-1 .btn:hover{
    color: #d1e0d1;
    background-color: #283f28;
}

col-2 .btn{
    justify-content: center;
    border-radius: 9px;
    text-decoration: none;
    font-size: 32pt;
    background-color: #d1e0d1;
    color: #283f28;
    font-family: mreavesbold;
    transition: all .3s ease;
    position: absolute;
    margin-top: -240px;
    margin-left: 184px;
    padding: 13px 50px;
}

col-2 .btn:hover{
    color: #d1e0d1;
    background-color: #283f28;
}

col-3 .btn{
    justify-content: center;
    border-radius: 9px;
    text-decoration: none;
    font-size: 32pt;
    background-color: #d1e0d1;
    color: #283f28;
    font-family: mreavesbold;
    transition: all .3s ease;
    position: absolute;
    margin-top: -240px;
    margin-left: 185px;
    padding: 13px 40px;
}

col-3 .btn:hover{
    color: #d1e0d1;
    background-color: #283f28;
}

.description2{
    text-align: center;
    color: #f3f9f3;
    background-color: #283f28;
}

.description2 h3{
    margin-bottom: 40px;
    color: #f3f9f3;
}

.description2 p{
    text-align: center;
    float: center;
    font-family: mreaves;
    font-size: 18pt;
    line-height: 1.5;
    margin: 25px 300px 25px 300px;
    color: #f3f9f3;
}

footer{
    margin-top: -100px;
    background-color: #d1e0d1;
    position: relative;
    height: 170px;
    clear: both;
    padding: 25px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

footer h4{
    text-align: center;
    font-family: mreavesbold;
    font-size: 18px;
    font-weight: 600;
    color: #283f28;
}

footer p{
    text-align: center;
    font-family: mreaves;
    font-size: 15px;
    color: #283f28;
    padding: 20px 20px 0px 20px;
}

footer ul{
    margin: 10px;
    float: center;
    text-align: center;
}

footer a{
    display: inline-block;
    margin: 10px;
}

@font-face{
    font-family: 'mreaves';
    src: url(fonts/MrEavesXLSanOT-Book.otf);
}

@font-face{
    font-family: 'mreavesbold';
    src: url(fonts/MrEavesXLSanOT-Heavy.otf);
}


